@model IEnumerable<Message2>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Kutusu</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Konu </th>
                                <th> Gönderen </th>
                                <th> Tarih </th>
                                <th> Mesajı Aç </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.MessageID
                                    </td>
                                    <td>
                                        @item.Subject
                                    </td>

                                    <td>
                                        @item.SenderUser.WriterName
                                    </td>
                                    <td>@item.MessageDate.ToString("dd-MMM-yyyy")</td>
                                    <td>
                                        <a href="/Message/MessageDetails/@item.MessageID" class="btn btn-warning">Mesajı Aç</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Blog/EditBlog/" class="btn btn-primary">Yeni Mesaj Oluştur</a>
                </div>
            </div>
        </div>
    </div>
</div>


